.midline{
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    color: aliceblue;
}

.dpimg{
    display: block;
    mix-blend-mode: darken;
    margin-top: 1.5rem;
    width: 280px;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
}
.image-wrapper{
    margin-left: 10vw;
    margin-right: auto;
    width: 350px;
    margin-bottom: 70px;
}
.constrain{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 400px;
   
}
.prjt{
    margin: 20px;
}
.constrain > h3{
    margin: 5px;
    color: #626264;
}
