*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{

    background-image: url("./images/leone-venter-VieM9BdZKFo-unsplash.jpg");
    
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
   
}
@media (max-width: 500px) {

    .image-wrapper{
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        margin-bottom: 60px;
    }

    

}