*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{

    background-image: url("./images/leone-venter-VieM9BdZKFo-unsplash.jpg");
    background-repeat: repeat;
    background-size: 100vw;
}
@media (max-width: 500px) {

    body {
        background-repeat: no-repeat;
        background-image: none;
    }
    .image-wrapper{
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        margin-bottom: 60px;
    }

    

}