.contact{
    height: 350px;
    width: 280px;
    border-radius: 20px;
    border: 1px solid black;
    text-align: center;
    margin-bottom: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    cursor: pointer;
}
.contactContent{
     
    padding: 10px; 
}
.btn1{
    background-color: #1C1C1C;
    color: aliceblue;
    height: 30px;
    width: 100px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 60px;
    margin-bottom: auto;
}
.icons{
    font-size: 2.5rem;
    display: flex;
    gap: 1.5rem;
    position: absolute;
    bottom: 0;
    left: 20px;
    margin-bottom: 20px;
}
