.contact{
    height: 350px;
    width: 280px;
    border-radius: 20px;
    border: 1px solid black;
    text-align: center;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.contactContent{ 
    padding: 10px; 
}
.btn1{
    display: block;
    background-color: #1C1C1C;
    color: aliceblue;
    height: 30px;
    width: 100px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  
}
.icons{
    font-size: 2.5rem;
    display: flex;
    gap: 1.5rem;
    position: absolute;
    bottom: 0;
    left: 20px;
    margin-bottom: 20px;
    
}
.ancherTag{
    color: #1C1C1C;
}
.ancherTag:active{
    color: aquamarine;
}
.ancherTag2{
    color: aliceblue;
    text-decoration: none;
}
.ancherTag2:active{
    color: aquamarine;
}